<div class="colf-10 offset-1 about">
  <h1>About HangryHippos</h1>

  <p>
    HangryHippos was built by <a target="_blank" href="https://www.github.com/diantai23/">Dian</a>, a web developer on a mission to develop the technical skills needed to launch their own MVPs and turn ideas into reality.
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>


  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'dian.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Dian Tai</h2>
      
      <p>
        Dian is a web developer who is new to coding, but that doesn't stop them from creating with technology. Ever since birth, they have been tinkering and innovating, whether it's with building their next home improvement project, flying planes, or using computers and data to tell a narrative.  
      </p>
      <p>
       When Dian is not working on development, you might find them at the local dog beach with their two fur babies Merlin and Arthur, taking to the skies, and dancing gender-free swing.
       </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
</div>
