<h2>
  <span><i>RECIPE No. <%= @quote.id %>: </span>
  When you're a hangry hippo <u>you should eat...</u></i>
</h2>

<h1><%= @quote.saying %></h1>
<h2 class="float-right">- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />